page-configPage {
    .button-grid{
        background-color: $color-dec-green;
        padding: 15px;
        text-align: center;
    }

    .button-grid-column{
        padding: 0;
    }

    .additiona-values-list{
        text-align: center;
    }
}
